<!DOCTYPE html>
<html lang="en">
<head>
    <title>PWA Demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="trivia, movies, free">
    <meta name="robots" content="index,follow">
    <meta name="description" content="free online movie trivia game with pwa functionality">
    <link rel="stylesheet" type="text/css" href="/css/loaders.css">
    <link rel="stylesheet" type="text/css" href="/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/css/mb.css">
    <link rel="stylesheet" type="text/css" href="/css/classic.css">
</head>
<body>
    <p>404 Page Not Found</p>
   
    <script type="text/javascript" src="/js/materialize.min.js"></script>
</body>
</html>